.tooltip-container {
    @apply relative;
    z-index: 999999;
    min-width: fit-content;
}
.tooltip {
    @apply absolute hidden bg-slate-200 p-1 text-xs border-solid border-[1px] border-gray-300 z-50 text-gray-500;
    border-radius: 4px;
}

.tooltip-container:hover .tooltip {
    @apply items-center justify-center flex flex-row text-center;
    min-width: 80px;
}

.tooltip-left {
    @apply !right-10 top-0;
}

.tooltip-right {
    @apply !left-0;
}

.tooltip-bottom-right {
    @apply !left-0 top-8;
}

.tooltip-bottom-left {
    @apply !right-0 top-8;
}

