.view-box {
    @apply relative box-border flex flex-1 items-center justify-center overflow-y-hidden overflow-x-auto;
    height: 100vh;
    width: 100vw;
}

.react-pdf__Page {
    @apply border-solid border-gray-200 border-[1px];
    overflow: hidden;
    max-width: max-content;
    max-height: max-content;
}

.react-pdf__Page__canvas {
    max-height: calc(var(--scale-factor) * 100vh) !important;
    max-width: calc(var(--scale-factor) * 100vw) !important;
    min-width: auto;
    min-height: auto;
    position: relative;
}

.auto-height {
    height: auto !important;
}

.auto-width {
    width: auto !important;
}

.annotation-board {
    @apply absolute top-0 left-0 m-0 z-30;
    image-rendering: optimizeSpeed;            
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: crisp-edges;              
    -ms-interpolation-mode: nearest-neighbor; 
}

#svg {
    @apply w-full h-full absolute z-20 bg-none top-0 left-0 select-none;
}

.active-cursor {
    @apply cursor-crosshair;
}

#svg rect:focus {
    @apply bg-blue-500/40;
}

#text-tool {
    @apply border-dashed border-2 border-gray-500 absolute rounded-sm hidden bg-none box-border z-50 resize-none font-open-sans text-sm;
    padding: 5px;
}

#text-tool::placeholder {
    font-size: 12px;
    @apply text-gray-400;
}
#text-tool::-webkit-scrollbar {
   width: 0;
}
#text-tool:focus, #text-tool:hover, #text-tool:active  {
    @apply !border-dashed border-2 border-blue-500 absolute rounded-sm outline-none;
}

#tracer-element {
    @apply absolute h-10 w-10 border-dashed border-2 border-gray-300 top-0 left-0 rounded-sm hidden;
}
